/*Top part of the homepage*/
.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}

.top-header>.logo-wrapper img{
    width: 200px;
    height: 100%;
}

.top-header>.navigation-wrapper>.nav-links{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.explore-wrapper {
    margin-bottom: 5px; 
    font-weight: bold; 
    color: yellow; 
    display: flex;
    text-align: left;
    margin-left: 20px;
}

.top-header>.navigation-wrapper>.nav-links>.nav {
    display: flex;
    text-align: left;
    margin-left: 20px;
}

.top-header>.navigation-wrapper>.nav-links>.nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    font-weight: bold; 
}






